html{
	height: 100%;
}
body{
       height: 100%;
       background:#333333;
       font:bold 12px Arial, Helvetica, sans-serif;
       margin:0;
       padding:0;
       min-width:90%;
       color:#bbbbbb;
  }
   
  a {
      text-decoration:none;
      color:#00c6ff;
  }
   
  h1 {
      font: 4em normal Arial, Helvetica, sans-serif;
      padding: 20px;    margin: 0;
      text-align:center;
  }
   
  h1 small{
      font: 0.2em normal  Arial, Helvetica, sans-serif;
      text-transform:uppercase; letter-spacing: 0.2em; line-height: 5em;
      display: block;
  }
   
  h2 {
      font-weight:700;
      color:#bbb;
      font-size:20px;
  }
   
  h2, p {
      margin-bottom:10px;
  }
  .container {
      height: 100%;
      width: 100%;
      position: relative;
      margin: 0 auto;
      overflow: hidden;
  }
  .inner{
      position: relative;
      width: 100%;
      top: 50%;
      margin-top: -161px;
  }
  .clock {
      width: 100%;
      margin: 0 auto;
      padding: 30px;
      border: 1px solid #333;
      color: #fff;
      background: #0066FF;
  }
   
  .tags {
      width: 100%;
      margin: 0 auto;
      padding: 30px;
      border: 1px solid #333;
      color: #fff;
      background: #0066FF;
  }
   
  #myDate {
      font-size: 36px;
      text-align: center;
  }
  #Message {
      font-size: 36px;
      text-align: center;
  }
  ul {
      font-size: smaller;
      width: 100%;
      margin: 0 auto;
      padding: 0px;
      list-style: none;
      text-align: center;
  }
   
  ul li {
      display: inline;
      font-size: 10em;
      text-align: center;
  }
   
  #point {
      position: relative;
      -moz-animation: mymove 1s ease infinite;
      -webkit-animation: mymove 1s ease infinite;
      padding-left: 10px;
      padding-right: 10px;
  }
   
  /* Simple Animation */
  @-webkit-keyframes mymove {
      0% {opacity: 1.0;
      text-shadow: 0 0 20px #00c6ff;
  }
   
  50% {
      opacity: 0;
      text-shadow: none;
  }
   
  100% {
      opacity: 1.0;
      text-shadow: 0 0 20px #00c6ff;
  }    
  }
   
  @-moz-keyframes mymove {
      0% {
          opacity: 1.0;
          text-shadow: 0 0 20px #00c6ff;
      }
   
      50% {
          opacity: 0;
          text-shadow: none;
      }
   
      100% {
          opacity: 1.0;
          text-shadow: 0 0 20px #00c6ff;
      };
  }
